<template>
  <div class="hw-form">
    <h1>{{ title }}</h1>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'title'
    }
  }
}
</script>

<style scoped lang="scss">
  .hw-form {
    margin: auto;
    width: 490px;
    background: #FFF;
    box-shadow: 0 3px 16px #0000001A;
    padding: 35px;
    border-radius: 10px;

    h1 {
      font-size: 34px;
      font-weight: bold;
      color: #15B0FC;
      padding-bottom: 35px;
    }
  }
</style>