<template>
  <div class="hw-input">
    <div class="hw-input__label">{{ label }}</div>
    <input required v-model="inputValue" />
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: 'label'
    },
    value: {
      type: [String, Number, Boolean, Object],
      default: ''
    },
    error: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    inputValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      }
    }
  }
}
</script>

<style scoped lang=scss>
  .hw-input {
    display: block;
    color: #394556;
    font-size: 18px;
    margin-bottom: 20px;

    &__label {
      padding-bottom: 10px;
    }

    input {
      border-radius: 8px;
      padding: 5px 10px;
      border: 2px solid #C8D3DB;
      width: 100%;
      height: 45px;
    }
  }
</style>
