<template>
  <div class="hw-input">
    <div class="hw-input__label">{{ label }}</div>
    <div class="hw-input__group">
      <select v-model="selectedType" @change="$emit('input', phone)">
        <option
          v-for="option in options"
          :key="option"
        >
          {{ option }}
        </option>
      </select>
      <input required v-model="inputValue" @change="$emit('input', phone)" />
    </div>
  </div>
</template>

<script>
import Input from './Input'

export default {
  extends: Input,
  props: {
    options: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      phone: {
        type: this.value.type,
        number: '',
      },
    }
  },
  computed: {
    inputValue: {
      get() {
        return this.value.number
      },
      set(value) {
        this.phone.number = value
      },
    },
    selectedType: {
      get() {
        return this.value.type
      },
      set(value) {
        this.phone.type = value
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.hw-input {
  display: block;
  color: #394556;
  font-size: 18px;
  margin-bottom: 20px;

  &__label {
    padding-bottom: 10px;
  }

  &__group {
    input {
      border-radius: 8px;
      padding-left: 105px;
      border: 2px solid #c8d3db;
      width: 100%;
      height: 45px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      position: absolute;
      background: #eee;
      border: 2px solid #c8d3db;
      border-radius: 8px 0 0 8px;
      height: 45px;
      width: 95px;
      color: #394556;
      font-size: 16px;
      outline: none;
      padding-left: 20px;
    }
  }
}
</style>