<template>
  <div>
    <div v-for="option in options" :key="option" class="hw-radio">
      <label>
        <input type="radio" 
          name="radio-input" :checked="value === option" :value="option" :id="option" @change="$emit('input', option)" />
        <div :class="{ error }" class="hw-radio__checkbox"/>
      </label>
      <span class="hw-radio__label">{{ option }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      required: true,
      type: Array,
    },
    value: {
      type: String,
      default: '',
    },
    error: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
.hw-radio {
  display: flex;
  margin-bottom: 30px;
  
  &__checkbox {
    position: relative;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    border: 2px solid #c8d3db;
    border-radius: 8px;
    transition: transform 0.28s ease;
  
    &.error {
      border: 2px solid red;
    }

    &::after {
      content: '';
      width: 20px;
      height: 10px;
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      transform: rotate(-45deg) scale(0);
      transition: transform ease 0.25s;
      position: absolute;
      top: 14px;
      left: 12px;
    }
  }

  &__label {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  input {
    display: none;

    &:checked ~ .hw-radio__checkbox {
      background-color: #15b0fc;

      &::after {
        transform: rotate(-45deg) scale(1);
      }
    }
  }
}
</style>