<template>
  <div class="hw-steps">
    <div
      class="hw-steps__step"
      :class="stepClass(name)"
      v-for="(step, name) in steps"
      :key="name"
    >
      <div class="hw-steps__step__number">
        {{ name }}
      </div>
      <div class="hw-steps__step__text">
        {{ step }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      steps: this.$store.state.steps,
    }
  },
  computed: {
    ...mapGetters(['activeStep']),
  },
  methods: {
    stepClass(step) {
      step = Number(step)
      return {
        active: this.activeStep === step,
        submitted: this.activeStep > step,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~assets/mixins.scss';

.hw-steps {
  display: flex;
  justify-content: space-between;
  margin: 100px auto 40px;
  max-width: 560px;
  position: relative;

  &__line {
    height: 2px;
    width: 100%;
    background: #d5dee4;
    position: absolute;
    top: 26px;
  }

  &__step {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;

    &__number {
      @include flex-center;

      width: 52px;
      height: 52px;
      background: #d5dee4 0% 0% no-repeat padding-box;
      border-radius: 50%;
      font-size: 28px;
      color: white;
      font-weight: 900;
      margin-bottom: 5px;
      position: relative;
      z-index: 10;
    }

    &__text {
      color: #394556;
      font-size: 20px;
    }

    &.active {
      .hw-steps__step__number {
        background: #eee;
        color: #15b0fc;
        border: 2px solid #15b0fc;
      }

      &::before {
        background: #15b0fc;
      }
    }

    &.submitted {
      .hw-steps__step__number {
        background: #15b0fc;
      }

      &::after,
      &::before {
        background: #15b0fc;
      }
    }

    &::before,
    &::after {
      content: '';
      height: 2px;
      width: 100%;
      background: #d5dee4;
      position: absolute;
      top: 26px;
    }

    &::before {
      right: 70%;
    }

    &::after {
      left: 70%;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
</style>
