<template>
  <div>
    <form-layout title="Membership">
      <hw-radio-button :options="options" v-model="membership" :error="error" @input="updateState"/>
      <div v-if="error" class="hw-error-message">Please choose membership!</div>
      <p>
        <b>{{ membership }}</b> Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived
        not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with
        the release of Letraset sheets containing Lorem Ipsum passages, and more
        recently with desktop publishing software like Aldus PageMaker including
        versions of Lorem Ipsum.
      </p>
      <nuxt-link to="/form/personal-info"
        ><button class="back-btn">Back</button></nuxt-link
      >
      <button class="submit-btn" @click="submitMembership">Continue</button>
    </form-layout>
  </div>
</template>

<script>
import formLayout from '~/components/Form.vue'
import hwRadioButton from '~/components/RadioButtonGroup.vue'

export default {
  components: {
    formLayout,
    hwRadioButton,
  },
  asyncData({ store }) {
    store.commit('setActiveStep', 2)
  },
  data() {
    return {
      options: ['Regular', 'Premium'],
      membership: this.$store.state.form.membership,
      error: false,
    }
  },
  methods: {
    updateState() {
      this.error = false
    },
    submitMembership() {
      if (!this.membership) {
        this.error = true
        return
      }
      this.$store.commit('setMembership', this.membership)
      this.$router.push('/form/overview')
    },
  },
}
</script>
