<template>
  <div class="hw-overview">
    <form-layout title="Overview:">
      <div class="hw-overview__info-row">
        <b>First name:</b>{{ userInfo.info.firstName }}
      </div>
      <div class="hw-overview__info-row">
        <b>Last name:</b>{{ userInfo.info.lastName }}
      </div>
      <div class="hw-overview__info-row">
        <b>E-mail:</b>{{ userInfo.info.mail }}
      </div>
      <div class="hw-overview__info-row">
        <b>Membership:</b>{{ userInfo.membership }}
      </div>
      <div class="hw-overview__info-row">
        <b>Phone:</b>{{ userInfo.info.phone.number }}
      </div>
      <nuxt-link to="/form/membership"
        ><button class="back-btn">Back</button></nuxt-link
      >
      <button class="submit-btn" @click="submitForm">Continue</button>
    </form-layout>
  </div>
</template>

<script>
import formLayout from '~/components/Form.vue'

export default {
  components: {
    formLayout,
  },
  asyncData({ store }) {
    store.commit('setActiveStep', 3)
  },
  data() {
    return {
      userInfo: this.$store.state.form,
    }
  },
  methods: {
    async submitForm() {
      const { success, errors } = await this.$axios.$post('/api/',
        this.$store.state.form)

      if (success) {
        console.log('subscription successful')
      } else if (errors) {
        console.log('something went wrong')
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.hw-overview {
  &__info-row {
    font-size: 18px;
    margin-bottom: 20px;
    b {
      min-width: 160px;
      display: inline-block;
    }
  }
}
</style>
