<template>
  <div>
    <form-layout title="Personal info">
      <hw-input v-model="form.firstName" label="First name" />
      <hw-input v-model="form.lastName" label="Last name" />
      <hw-input v-model="form.mail" label="E-mail name" />
      <div>
        <hw-phone-input
          v-model="form.phone"
          :options="phoneTypes"
          label="Phone"
        />
      </div>
      <button class="submit-btn" @click="submitInfo">Continue</button>
    </form-layout>
  </div>
</template>

<script>
import formLayout from '~/components/Form.vue'
import hwInput from '~/components/Input.vue'
import hwPhoneInput from '~/components/PhoneInput.vue'

export default {
  components: {
    formLayout,
    hwInput,
    hwPhoneInput,
  },
  asyncData({ store }) {
    store.commit('setActiveStep', 1)
  },
  data() {
    return {
      form: JSON.parse(JSON.stringify(this.$store.state.form.info)),
      phoneTypes: ['Home', 'Work', 'Mobile', 'Main', 'Other'],
    }
  },
  methods: {
    submitInfo() {
      const user = this.form
      if (!user.firstName || !user.lastName || !user.mail) return
      this.$store.commit('setPersonalInfo', this.form)
      this.$router.push('/form/membership')
    },
  },
}
</script>
