// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700,900);
@import './mixins.scss';


* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #EEE;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

input {
  font-family: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

ul, li {
  padding:0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: .2s;
  border-radius: 8px;
  width: 100%;
  height: 64px;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}

.submit-btn {
  background-color: #15B0FC;

  &:hover {
    background-color: darken(#15B0FC, 10%)
  }

  &:active {
    background-color: lighten(#15B0FC, 10%)
  }
}

.back-btn {
  background-color: transparent;
  border: 2px solid #16AFFC;
  color: #16AFFC;

  &:hover {
    border-color: darken(#15B0FC, 10%);
    color: darken(#15B0FC, 10%);
  }

  &:active {
    border-color: lighten(#15B0FC, 10%);
    color: lighten(#15B0FC, 10%);
  }
}

.hw-error-message {
  margin-bottom: 10px;
  font-size: 21px;
  color: red;
}